<app-header>Header</app-header>
<div class="base-content-contentainer">
    <div class="centred-content-contentainer">
        <mat-card>
            <mat-card-title>Property Search</mat-card-title>
            <mat-card-content class="centred-content-contentainer">
                <div class="search-text-container">
                    <p>Use the form below to search for house to buy. You can search by place-name, postcose, or click 'My location', to search in your current location</p>
                </div>
                <mat-divider></mat-divider>
                <app-search class="search-input-container"></app-search>
                <mat-divider></mat-divider>
                <app-search-result class="search-result-section-container"></app-search-result>
            </mat-card-content>
        </mat-card>
    </div>
</div>