<mat-card-title>{{ titleText }}</mat-card-title>
<mat-card-content class="centred-content-contentainer">
    <div class="search-text-container" style="padding-bottom: 20px;">
        <p>{{ descriptionText }}</p>
    </div>
    <mat-divider></mat-divider>
    <form [formGroup]="searchForm" class="search-form" style="margin: 20px 0;" (keydown)="onKeyDown($event)">
            <mat-form-field class="search-full-width"> 
              <input
                matInput
                placeholder={{searchInputText}}
                type="text"
                id="searchPhrase"
                formControlName="searchPhrase"
                autofocus
                required>
            </mat-form-field>
            <div>
                <label>{{ propertyTypeText }}</label><br/>
                <mat-radio-group formControlName="propertyType" aria-labelledby="property-search-radio-group-label"
                    class="property-search-radio-group"
                >
                  <mat-radio-button
                    class="property-search-radio-button"
                    *ngFor="let propertyType of propertyTypes"
                    [value]="propertyType"
                    [checked]="isCheckedByDefault"
                    >
                        {{propertyType}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="button-row">
                <a routerLink="/search-results"><button mat-button type="button" [disabled]="!searchForm.valid" (click)="onSearchClicked()">{{ submitBtn }}</button></a>
                <a routerLink="/search-results"><button mat-button type="button" (click)="onMyLocationClicked()">{{ locationBtn }}</button></a>
            </div>
    </form>
    <mat-divider></mat-divider>
    <section *ngIf="recentSearches.length > 0" style="padding-top: 20px;">
        <div style="display: flex; justify-content: space-between;">
            <h4>{{ recentSearchesText }}</h4>
            <button (click)="removeAllRecentSearches()" mat-button color="primary">{{ removeAllBtn }}</button>
        </div>
        <mat-card-content class="centred-content-contentainer">
            <div class="search-result-section-container">
                <div>
                    <mat-chip-list aria-label="Recent Searches">
                        <app-resent-search-item
                            *ngFor="let search of recentSearches; let i = index; let propertyType = propertyType"
                            [search]="search"
                            [index]="i"
                        ></app-resent-search-item>
                    </mat-chip-list>
                </div>
            </div>
        </mat-card-content>
    </section>
</mat-card-content>