.property-search-radio-group {
  display: flex;
  // flex-direction: column;
  margin: 15px 0;
  width: 30%;
}

.property-search-radio-button {
  margin: 5px;
}

#my-location-btn {
  margin-left: 10px;
}

.search-result-section-container {
  padding-top: 20px;
}