<mat-card-title>Property Search</mat-card-title>
<mat-card-content class="centred-content-contentainer">
    <div class="search-text-container" style="padding-bottom: 20px;">
        <p>Use the form below to search for house to buy. You can search by <b>place-name</b>, <b>postcose</b>, or click 'My location', to search in your current location</p>
    </div>
    <mat-divider></mat-divider>
    <form [formGroup]="searchForm" class="search-form" style="margin: 20px 0;" (keydown)="onKeyDown($event)">
            <mat-form-field class="search-full-width"> 
              <input
                matInput
                placeholder="Input your search params"
                type="text"
                id="searchPhrase"
                formControlName="searchPhrase"
                autofocus
                required>
            </mat-form-field>
            {{ this.searchForm.value.searchPhrase }}
            <div>
                <label>Property type: </label><br/>
                <mat-radio-group formControlName="propertyType" aria-labelledby="property-search-radio-group-label"
                    class="property-search-radio-group"
                >
                  <mat-radio-button
                    class="property-search-radio-button"
                    *ngFor="let propertyType of propertyTypes"
                    [value]="propertyType"
                    [checked]="isCheckedByDefault"
                    >
                        {{propertyType}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="button-row">
                <a routerLink="/search-results"><button [disabled]="!searchForm.valid" mat-button type="button" (click)="onSearchClicked()">Go</button></a>
                <button id="my-location-btn" mat-button color="primary">My Location</button>
            </div>
    </form>
    <mat-divider></mat-divider>
    <section style="padding-top: 20px;">
        <h4 *ngIf="recentSearches.length > 0">Resent Searches</h4>
        <mat-card-content class="centred-content-contentainer">
            <div class="search-result-section-container">
                <div>
                    <mat-chip-list aria-label="Recent Searches">
                        <app-resent-search-item
                            *ngFor="let search of recentSearches; let i = index; let propertyType = propertyType"
                            [search]="search"
                            [index]="i"
                        ></app-resent-search-item>
                    </mat-chip-list>
                </div>
            </div>
        </mat-card-content>
    </section>
</mat-card-content>