<form [formGroup]="searchForm" class="search-form" style="margin: 20px 0;">
    <mat-form-field class="search-full-width" style="margin: 20px 0;"> 
      <input
        matInput
        placeholder="Input your search params"
        type="text"
        id="searchPhrase"
        formControlName="searchPhrase"
        ngModel
        autofocus
        required>
    </mat-form-field>
    {{ this.searchForm.value.searchPhrase }}
    <div class="button-row">
        <button mat-stroked-button type="button" (click)="onSearchClicked()">Go</button>
        <button mat-stroked-button color="primary">My Location</button>
    </div>
</form>
<!-- <section class="filter-wrapper">
    <div class="keyword-wrapper">
        <input type="text" id="keyword" placeholder="Search for something..." autofocus/>
    </div>
    <ul class="filter-select">
        <li class="filter-select-list">
            <img src="" alt="" width="50" height="50">
            <p class="artist-name"></p>
            <span class="tags"></span>
    </ul>
</section> -->