$break-small: 500px;
$break-large: 1200px;

.base-content-container {
    display: flex !important;
    justify-content: center !important;

    @media screen and (width: $break-large) {
        .base-content-container {
            width: 100% !important;
            margin: 0 auto;
        }
    }
}