.button-row {
    display: flex !important;
    justify-content: flex-end !important;
}

.button-row button {
    margin-right: 8px;
}

.search-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.search-full-width {
    width: 100%;
}