.search-item {
    margin: 0 5px 5px 0;
    padding: 2px;
    width: inherit;
    background-color: #d4daf7;
    margin-bottom: 10px;

    .recent-search-item-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;

        .recent-search-item-delete {
            margin-right: 10px;
        }
    }
}