<!-- <p>login-form works!</p> -->
<mat-card-title>{{ titleText }}</mat-card-title>
<mat-card-content class="centred-content-contentainer">
    <div class="search-text-container" style="padding-bottom: 20px;">
        <p>{{ descriptionText }}</p>
    </div>
    <mat-divider></mat-divider>
    <form [formGroup]="loginForm" class="search-form" style="margin: 20px 0; display: flex; flex-direction: column;" (keydown)="onKeyDown($event)">
            <mat-form-field class="search-full-width"> 
              <input
                matInput
                placeholder={{loginPlaceholderText}}
                type="text"
                id="login"
                formControlName="login"
                autofocus
                required>
            </mat-form-field>
            <mat-form-field class="search-full-width"> 
                    <input
                      matInput
                      placeholder={{passwordPlaceholderText}}
                      type="password"
                      id="password"
                      formControlName="password"
                      autofocus
                      required>
                  </mat-form-field>
            <div class="button-row">
                <a href="#"><button mat-button type="button" (click)="onCancel()">{{ cancelBtnText }}</button></a>
                <a href="#"><button mat-button type="button" [disabled]="!loginForm.valid" (click)="onSubmit()">{{ loginBtnText }}</button></a>
            </div>
    </form>
</mat-card-content>
